{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href='{% static "css/style_forms.css" %}'>

<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap" rel="stylesheet">
{% endblock 'head' %}

{% block 'body' %}

<div class="flex-container">
  <div class="myform">
    <h1> Login </h1>

    <form method="POST">
      {% csrf_token %}

      {% for f in form %}

      {{ f }}
      {% if f.errors %}
      {% for error in f.errors %}<p class="errorlist">{{error}}</p>{% endfor %}
      {% endif %}
      </p>

      {% endfor %}

      <input type="submit" value='login' id="submitbtn">
    </form>

    <p class="message">
      Don't have an account ? <a href="{% url 'signup' %}"> here </a> <br>
      forgot password ? <a href="{% url 'uservalidate' %}"> here </a> <br>
    </p>

    {% if messages %}
{% for message in messages %}
<p class="{{message.tags}}">
  {{ forloop.counter }} {{message}}
 </p>
 {% endfor %}  {% endif %}

  </div>
</div>
{% endblock 'body' %}