.body {
  background-color: whitesmoke;
}

.profile {
  border: 1px solid lightgray;
  box-shadow: 0px 2px 4px lightgray;
  margin-top: 60px;
  width: 50%;
  margin-left: 25%;
}

#udetail {
  padding-top: 40px;
}

#udetail h1 {
  font-size: 40px;
}
#udetail h2 {
  color: gray;
}

#pic {
  width: 220px;
  padding: 20px 0px 20px 40px;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 30px 30px;
  border-radius: 5px;
  background-color: white;
}

input,
#buttons3 a {
  border: 1px solid navy;
  width: 45%;
  height: 40px;
  margin: 10px;
  font-size: 18px;
  padding-left: 20px;
}

#buttons3 {
  display: flex;
  margin-right: 30px;
}

#buttons3 {
  padding: 0px;
}

#buttons3 a {
  padding: 0px;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  border: 1px solid;
  border-radius: 3px;
}

#btn3 {
  border: 1px solid #d9534f;
  background-color: #d9534f;
  color: white;
}

#btn3:hover {
  background-color: white;
  color: #d9534f;
}

#btn1,
#btn2 {
  border: 1px solid #5cb85c;
  background-color: #5cb85c;
  color: white;
}

#btn1:hover,
#btn2:hover {
  background-color: white;
  color: #5cb85c;
}
#btn1 a:hover,
#btn2 a:hover {
  color: #5cb85c;
}

.profile-block {
  display: flex;
  height: 220px;
  margin-top: 20px;
}
